.header {
  border-bottom: 2px solid #ccc;
  position: fixed;
  align-items: center;
  display: flex;
  height: 49px;
  top: 0;
  margin: 0 auto;
  width: 64%;
}

.h2 {
  color: black;
  font-size: 21px;
}

.nav {
  border-top: 2px solid #ccc;
  position: fixed;
  align-items: center;
  display: flex;
  height: 49px;
  bottom: 0;
  margin: 0 auto;
  width: 64%;
}
